# compiled output
frontend/bower_components/jquery/src/sizzle/dist
**/*/dist
**/*/tmp

# dependencies
**/*/node_modules
**/*/bower_components/*

# misc
**/*/.sass-cache
**/*/connect.lock
**/*/coverage/*
**/*/libpeerconnection.log
npm-debug.log
testem.log

.idea
.env
