<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to 'index' class='navbar-brand'}}GraphApp{{/link-to}}
        </div>
        <ul class="nav navbar-nav">
          {{#link-to 'index' tagName='li'}}<a href="#">Home</a>{{/link-to}}
          {{#link-to 'todos' tagName='li'}}<a href="#">Todos</a>{{/link-to}}
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
