<table class="table table-bordered table-striped">
  <tbody>
  {{#each}}
      <tr>
          <td>{{id}}</td>
          <td>{{date}}</td>
          <td>{{amount}}</td>
      </tr>
  {{/each}}
  </tbody>
</table>
