<h1>Todos</h1>

<table class="table table-bordered">
  <tr><td>{{#link-to 'todos.new'}}Add new{{/link-to}}</td></tr>
<tr><td>{{outlet}}</td></tr>
{{#each}}
  <tr><td>{{body}}</td></tr>
{{/each}}



</table>
